<template>
  <header class="navbar navbar-gitlab navbar-gitlab-new">
    <div class="container">
      <div class="header-content">
        <div class="title-container">
          <h1 class="title">
            <nuxt-link to="/">
              <svg
                width="100%"
                height="100%"
                xmlns="http://www.w3.org/2000/svg"
                class="logo"
                role="img"
                aria-label="GitLab"
              >
                <symbol id="logotype" height="24" width="111" viewBox="0 0 111 24">
                  <path
                    d="M44.8143 9.04211H48.4591C47.8511 5.16694 44.4959 2.46776 40.1295 2.46776C34.9631 2.46776 31.0863 6.26613 31.0863 12.6277C31.0863 18.8756 34.7887 22.7508 40.2351 22.7508C45.1231 22.7508 48.6223 19.6068 48.6223 14.5173V12.1461H40.6111V14.9413H45.1615C45.1039 17.7572 43.2239 19.5396 40.2543 19.5396C36.9487 19.5396 34.6831 17.0628 34.6831 12.5893C34.6831 8.14451 36.9871 5.67733 40.1775 5.67733C42.5583 5.67733 44.1871 6.94932 44.8143 9.04211Z"
                    fill="white"
                  />
                  <path
                    d="M51.0319 22.4804H54.5215V7.68052H51.0319V22.4804ZM52.7919 5.32853C53.9007 5.32853 54.8063 4.47894 54.8063 3.43895C54.8063 2.39896 53.9007 1.53976 52.7919 1.53976C51.6831 1.53976 50.7679 2.38776 50.7679 3.43895C50.7679 4.49014 51.6671 5.32853 52.7855 5.32853H52.7919Z"
                    fill="white"
                  />
                  <path
                    d="M64.9712 7.68052H62.0495V4.12535H58.5599V7.68052H56.4591V10.3797H58.5599V18.6132C58.5407 21.3988 60.5663 22.7732 63.1871 22.6916C63.8853 22.6777 64.5776 22.5607 65.2416 22.3444L64.6527 19.6148C64.3192 19.7014 63.9765 19.747 63.632 19.7508C62.7536 19.7508 62.0495 19.442 62.0495 18.034V10.3717H64.9712V7.68052Z"
                    fill="white"
                  />
                  <path
                    d="M67.672 22.4804H79.944V19.482H71.2496V2.73656H67.672V22.4804Z"
                    fill="white"
                  />
                  <path
                    d="M86.6288 22.7796C88.952 22.7796 90.3392 21.69 90.976 20.4468H91.0912V22.4804H94.4512V12.5701C94.4512 8.65651 91.2608 7.48051 88.4352 7.48051C85.3216 7.48051 82.9312 8.8677 82.16 11.5669L85.4192 12.0309C85.7648 11.0181 86.7488 10.1509 88.4592 10.1509C90.08 10.1509 90.9664 10.9797 90.9664 12.4357V12.4933C90.9664 13.4949 89.9152 13.5445 87.3024 13.8229C84.4304 14.1317 81.6832 14.9893 81.6832 18.3252C81.6736 21.2372 83.8032 22.7796 86.6288 22.7796ZM87.776 20.2196C86.32 20.2196 85.2784 19.554 85.2784 18.2724C85.2784 16.9316 86.4448 16.3732 87.9984 16.1508C88.9152 16.0261 90.7472 15.7941 91.1984 15.4293V17.1732C91.208 18.8164 89.8768 20.2148 87.776 20.2148V20.2196Z"
                    fill="white"
                  />
                  <path
                    d="M97.0208 22.4804H100.453V20.1476H100.654C101.205 21.2276 102.352 22.7412 104.898 22.7412C108.387 22.7412 111 19.9732 111 15.0965C111 10.1605 108.31 7.48052 104.888 7.48052C102.275 7.48052 101.186 9.05171 100.654 10.1221H100.507V2.73656H97.0208V22.4804ZM100.443 15.0773C100.443 12.1973 101.677 10.3429 103.923 10.3429C106.246 10.3429 107.443 12.3189 107.443 15.0773C107.443 17.8356 106.229 19.8772 103.923 19.8772C101.696 19.8772 100.443 17.9492 100.443 15.0773Z"
                    fill="white"
                  />
                </symbol>
                <symbol id="logomark" height="24" width="25" viewBox="0 0 25 24">
                  <path
                    d="M24.5071 9.4997L24.4735 9.4101L21.0815 0.562173C21.0128 0.388442 20.8907 0.241065 20.7327 0.141376C20.6148 0.0659156 20.4809 0.0191208 20.3417 0.00474133C20.2024 -0.00963816 20.0618 0.00879831 19.931 0.0585727C19.8002 0.108347 19.6828 0.188075 19.5884 0.291366C19.4939 0.394657 19.425 0.518639 19.3871 0.653373L17.0975 7.66292H7.82547L5.53587 0.653373C5.49767 0.51884 5.42858 0.395092 5.33408 0.291999C5.23958 0.188905 5.1223 0.109318 4.9916 0.0595846C4.86089 0.00985088 4.72037 -0.00865374 4.58124 0.00554699C4.44211 0.0197477 4.30823 0.0662602 4.19027 0.141376C4.03228 0.241065 3.91012 0.388442 3.84147 0.562173L0.451061 9.41171L0.415861 9.4997C-0.0722579 10.7754 -0.132392 12.1752 0.244523 13.488C0.621438 14.8009 1.41497 15.9556 2.50547 16.778L2.51827 16.7876L2.54706 16.81L7.70707 20.6772L10.2671 22.6116L11.8223 23.7876C12.0048 23.9254 12.2272 24 12.4559 24C12.6846 24 12.907 23.9254 13.0895 23.7876L14.6447 22.6116L17.2047 20.6772L22.4015 16.7876L22.4159 16.7764C23.5063 15.9543 24.2999 14.7999 24.6771 13.4874C25.0543 12.1749 24.9947 10.7753 24.5071 9.4997Z"
                    fill="#E24329"
                  />
                  <path
                    d="M24.5071 9.49969L24.4735 9.4101C22.8208 9.74922 21.2637 10.4497 19.9135 11.4613L12.4655 17.0932L17.2079 20.6772L22.4047 16.7876L22.4191 16.7764C23.509 15.9538 24.302 14.7993 24.6786 13.4868C25.0552 12.1743 24.995 10.775 24.5071 9.49969Z"
                    fill="#FC6D26"
                  />
                  <path
                    d="M7.70708 20.6772L10.2671 22.6116L11.8223 23.7876C12.0048 23.9254 12.2272 24 12.4559 24C12.6846 24 12.907 23.9254 13.0895 23.7876L14.6447 22.6116L17.2047 20.6772L12.4623 17.0933L7.70708 20.6772Z"
                    fill="#FCA326"
                  />
                  <path
                    d="M5.00947 11.4613C3.6598 10.4502 2.10312 9.75028 0.451061 9.41171L0.415861 9.49971C-0.0722579 10.7754 -0.132392 12.1752 0.244523 13.488C0.621438 14.8009 1.41497 15.9556 2.50547 16.7781L2.51827 16.7877L2.54706 16.8101L7.70707 20.6772L12.4527 17.0932L5.00947 11.4613Z"
                    fill="#FC6D26"
                  />
                </symbol>

                <use class="logomark" xlink:href="#logomark" x="0" y="0" width="25" height="24" />
                <use class="logotype" xlink:href="#logotype" x="0" y="0" width="111" height="24" />
              </svg>

              <span class="descriptor"> SVGs </span>
            </nuxt-link>
          </h1>
          <ul class="list-unstyled navbar-sub-nav">
            <li>
              <nuxt-link to="/">Icons</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/file_icons">File icons</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/illustrations">Illustrations</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/logos">Logos</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/render_tests">Render tests</nuxt-link>
            </li>
            <li>
              <a href="https://gitlab.com/gitlab-org/gitlab-svgs">Repo →</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>
